# Get a free API key at https://etherscan.io/myapikey
ETHERSCAN_API_KEY=M2A5TEGWNME5TFGN6Z38D4TX3YDPUP65FV

# Your Ethereum wallet for donations (shown at bottom of the app)
NEXT_PUBLIC_DONATION_WALLET=0xab4Cc09b8a24ffFbfCDe698f7e508c9c0869d7D4
